{port_specs, [

    {"darwin","priv/ezlib_nif.so", ["c_src/*.cc"],[
        {env,
            [
                {".*", "CXXFLAGS", "$CXXFLAGS -g -Wall -Wextra -Werror -Wno-missing-field-initializers -fno-exceptions -fno-rtti -Os -I/usr/local/include/"},
                {".*", "LDFLAGS", "$LDFLAGS -L/usr/local/lib/ -lz"}
            ]}
    ]},

    {"linux","priv/ezlib_nif.so", ["c_src/*.cc"],[
        {env,
            [
                {".*", "CXXFLAGS", "$CXXFLAGS -g -Wall -Wextra -Werror -Wno-missing-field-initializers -fno-exceptions -fno-rtti -Os -I/usr/local/include/"},
                {".*", "LDFLAGS", "$LDFLAGS -L/usr/local/lib/ -lz"}
            ]}
    ]}
]}.