%baseline - original zlib
%cloudflare - cloudflare fork
%intel - intel fork
%zlibng - zlibng fork (not functional yet)

{post_hooks,[{'get-deps',"sh -c './build_deps.sh cloudflare'"}]}.

{port_specs, [

    {"darwin","priv/ezlib_nif.so", ["c_src/*.cc"],[
        {env,
            [
                {".*", "CXXFLAGS", "$CXXFLAGS -g -Wall -Wextra -Werror -Wno-missing-field-initializers -fno-exceptions -fno-rtti -Os -isystem deps/zlib"},
                {".*", "LDFLAGS", "$LDFLAGS -Ldeps/zlib -lz"}
            ]}
    ]},

    {"linux","priv/ezlib_nif.so", ["c_src/*.cc"],[
        {env,
            [
                {".*", "CXXFLAGS", "$CXXFLAGS -g -Wall -Wextra -Werror -Wno-missing-field-initializers -fno-exceptions -fno-rtti -Os -isystem deps/zlib"},
                {".*", "LDFLAGS", "$LDFLAGS -Ldeps/zlib -l:libz.a -lstdc++"}
            ]}
    ]}
]}.